<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.marondal.test.lesson03.dao.realEstateDAO">
	 <select id="selectRealEstate" resultType="com.marondal.test.lesson03.modal.realEstate" parameterType="int">
	 
	 	SELECT 
	 		`id`
	 		,`realtorId`
	 		,`address`
	 		,`area`
	 		,`type`
	 		,`price`
	 		,`rentPrice`
	 		,`createdAt`
	 		,`updatedAt`
	 	FROM
	 		`real_estate`
	 	WHERE
	 		
	 		`id`=#{id}
	
	 </select>
	 <select id="selectRentPrice" resultType="com.marondal.test.lesson03.modal.realEstate" parameterType="int">
	 
	 	SELECT 
	 		`id`
	 		,`realtorId`
	 		,`address`
	 		,`area`
	 		,`type`
	 		,`price`
	 		,`rentPrice`
	 		,`createdAt`
	 		,`updatedAt`
	 	FROM
	 		`real_estate`
	 	WHERE
    <![CDATA[ rentPrice < #{rentPrice} ]]>

	 </select>
	 <select id="selectAreaPrice" resultType="com.marondal.test.lesson03.modal.realEstate" parameterType="int">
	 
	 	SELECT 
	 		`id`
	 		,`realtorId`
	 		,`address`
	 		,`area`
	 		,`type`
	 		,`price`
	 		,`rentPrice`
	 		,`createdAt`
	 		,`updatedAt`
	 	FROM
	 		`real_estate`
	 	WHERE
	 		`type`='매매' and
	 		<![CDATA[ `area`>=#{area} and
	 		`price`<#{price}
		]]>
		ORDER BY `id`;
	 </select>
	 
	 <insert id="insertRealEstate" parameterType="map">
	  
 	INSERT INTO `real_estate`
 	(`realtorId`
 	,`address`
 	,`area`
 	,`type`
 	,`price`
 	,`rentPrice`
 	,`createdAt`
 	,`updatedAt`
 )
	 VALUES
	 (
	#{realtorId}
	,#{address}
	,#{area}
	,#{type}
	,#{price}
	,#{rentPrice}
	,#{createdAt}
	,#{updatedAt}
 
 )
 

	 </insert>
	 
	 <insert id="insertAsField" parameterType="map"><!-- 필드 형태로 인서트하면 파라미터 타입은 map으로 하면 알아서 매칭 -->
	  
 	INSERT INTO `real_estate`
 	(`realtorId`
 	,`address`
 	,`area`
 	,`type`
 	,`price`
 	,`rentPrice`
 	,`createdAt`
 	,`updatedAt`
 )
	 VALUES
	 (
	#{realtorId}
	,#{address}
	,#{area}
	,#{type}
	,#{price}
	,#{rentPrice}
	,now()
	,now()
 
 )
 

	 </insert>
	 
	 <update id="changeRealEstate" parameterType="com.marondal.test.lesson03.modal.realEstate">
	 UPDATE 
	 	`real_estate`
	 	
	 SET 
	 	`type`="전세",
		`price`=70000,
		`updatedAt`=now()
	 WHERE 
	 	`id`=12
	 
	 </update>
	 
	 <delete id="delRealEstate" parameterType="com.marondal.test.lesson03.modal.realEstate">
	 
	 DELETE 
	 FROM
	 	`real_estate`
	 WHERE
	 	`id`=#{id}
	 
	 
	 
	 </delete>
 
 
 </mapper>
 