<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.marondal.lesson02.dao.reviewDAO">
 	<select id="selectReviewList" resultType="com.marondal.test.lesson02.model.review">
 	SELECT
 		`id`
 		,`store`
 		,`phoneNumber`
 		,`address`
 		,`businessNumber`
 		,`introduce`
 		,`createdAt`
 		,`updatedAt`
 	FROM
 	`new_review`
 	
 	
 	
 	
 	
 	</select>
 
 
 
 </mapper>